* {
  letter-spacing: 0.02em;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0.04em;
}

details::details-content {
  display: grid !important;
  content-visibility: auto !important;
  overflow: hidden;
  grid-template-rows: repeat(1, minmax(0, 0fr));
  transition: all 0.3s;
}
details[open]::details-content {
  grid-template-rows: repeat(1, minmax(0, 1fr));
}

.site {
  // 支援 min() 函數
  @supports (height: calc(min(100vh, 100dvh))) {
    min-height: calc(min(100vh, 100dvh));
  }
  // 不支援 min() 函數的瀏覽器
  @supports not (height: calc(min(100vh, 100dvh))) {
    min-height: 100vh;
  }

  @supports (display: grid) {
    // 支援 Grid 的瀏覽器使用 Grid 佈局
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: minmax(0, 1fr);
  }

  // 使用媒體查詢為不支援 Grid 的瀏覽器提供 Flexbox 版本
  @supports not (display: grid) {
    display: flex;
    flex-direction: column;
    & > *:last-child {
      margin-top: auto;
    }
  }
}
