.footer__logo {
  width: 154px;
  max-width: 154px;
  height: auto;
  aspect-ratio: 154/90;
}
.footer__link,
.footer__social {
  display: block;
  color: $white;
  &:hover {
    color: $nature-80;
  }
}
.footer__link {
  transition: color 0.3s;
  padding: 8px 16px;
  font-weight: 700;
}
.footer__social {
  svg path {
    transition: fill 0.3s;
  }
}

// .footerLinkli a {
//   padding: 8px 16px;
// }

// .Linktxt:hover {
//   color: #c9c6c5 !important;
// }

// .footerIconLinkDiv {
//   margin: 12px 0px 12px 8px;
// }

// .footerIconLinkDiv a {
//   padding-top: 12px;
//   padding-bottom: 12px;
// }

// .footerCopyrightDiv {
//   padding-top: 25px;
//   padding-bottom: 25px;
//   align-self: center;
//   text-align: end;
// }

// .footerCopyrightDiv p {
//   font-size: 14px;
// }

// .topBtn {
//   position: fixed;
//   bottom: 20%; //258px
//   right: 10.72%; //196px
//   z-index: 20;
//   transition: all 0.3s;
// }

// @media (max-width: 960px) {
//   .footerdistanceDiv {
//     padding: 24px 12px;
//   }

//   .footerDiv {
//     flex-direction: column;
//   }

//   .imgLog {
//     content: url('/assets/images/LOGS.png');
//   }

//   .footerLinkDiv {
//     width: 100%;
//     flex-direction: column;
//     padding: 12px 0px 12px 0px;
//   }

//   .footerLinkli {
//     margin-right: 8px;
//   }

//   .Linktxt {
//     padding: 8px 4px !important;
//   }

//   .footerCopyrightDiv {
//     width: 100%;
//     padding-top: 12px;
//     text-align: left;
//     padding-bottom: 24px;
//   }

//   .footerCopyrightDiv p {
//     font-size: 12px;
//   }

//   .topBtn {
//     position: fixed;
//     bottom: 22%;
//     right: 0%;
//     content: url('/assets/images/topBtnM.png');
//   }
// }
