.product {
  &-icon {
    width: 24px;
    height: 24px;
  }
  .origin-price {
    color: #ADAAAA;
  }

  .btn-outline-primary {
    color: #212121;
    border-color: #1C1B1B;
    border-width: 1px;

    &:hover {
      color: black;
      background-color: #C9C6C5;
      border-color: black;
    }

    &.active {
      color: white;
      background-color: black;
    }
  }
  
  .btn-size {
    .btn-circle {
      padding: 0;
      width: 40px;
      height: 40px;
      border-radius: 50px;
      font-size: 14px;
      text-align: center;
    }

    &.active {
      color: white;
      background-color: black;
    }
  }

  .btn-count {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: 0;
    font-size: 30px;
    color: #212121;
    border-color: #1C1B1B;
    border-width: 1px;

    &.active {
      color: black;
      background-color: #C9C6C5;
      border-color: black;
    }
  }

  .btn-count-left {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .btn-count-right {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }

  .input {
    text-align: center;
    font-size: 16px;
    border-radius: 0px;
    border: 1px solid #1C1B1B;
    border-left: 0px;
    border-right: 0px;
    &:focus {
      outline: none;
    }
  }

  .tag {
    display: inline-block;
    border: 1px solid #FF897D;
    background-color: #FFB4AB;
    border-radius: 4px;
  }

  .product-content {
    border: 1px solid #E5E2E0;
    &__btn {
      flex-grow: 1;

      &.active {
        border-color: black;
        color: black;
      }

      .nav-link {
        width: 100%;
        padding: 8px 24px;
        border: 0;
        border-bottom: 2px solid #797776;
        color: #797776;

        &.active {
          border-color: black;
          color: black;
        }
      }
    }

    &__detail-img {
      width: 368px;
      height: 192px;
    }
  }
}